@{
    ViewBag.Title = "Sistema Seguridad";
}

<div class="jumbotron">
    <h1>Sistema Seguridad de Articulos Perdidos</h1>
    <p class="lead">Gestion y reportes sobre los articulos perdidos</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Roles</h2>
        <p>
            Administrador del sistema:<br />
            -	Usuarios del sistema<br />
            -	Parámetros del sistema<br />
            Usuario de la custodia:<br />
            -	Artículos bajo custodia<br />
            -	Registro de visita de usuarios<br />
            Invitado:<br />
            -	Consulta de artículos bajo custodia<br />
            -	Ingresar un reporte de artículo perdido<br />

        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Reportes</h2>
        <p>Reportes sobre los articulos extraviados, sobre los articulos devueltos, contactos que esperan un articulo perdido</p>
        
    </div>
    <div class="col-md-4">
        <h2>Gestion de articulos</h2>
        <p>Listado de los articulos en custodia con posibilidad de alterar su estado</p>
        
    </div>
</div>